<div class="card"> <!-- Define um elemento div com a classe "card", que será usado como um container para o conteúdo do cartão -->
  
  <!-- Define um título dentro do card com a classe "ca-u-card-text-title" -->
  <h1 class="ca-u-card-text-title">Sou o título do card</h1>

  <!-- Componente Angular que representa o título do card. Ele será estilizado automaticamente pela diretiva "app-Card-Text-Title" -->
  <app-Card-Text-Title>Sou o título do card</app-Card-Text-Title>

  <!-- Define um subtítulo dentro do card com a classe "ca-u-card-text-subtitle" -->
  <h1 class="ca-u-card-text-subtitle">Sou o subtítulo do card</h1>

  <!-- Componente Angular que representa o subtítulo do card. Ele será estilizado automaticamente pela diretiva "app-Card-Text-Subtitle" -->
  <app-Card-Text-Subtitle>Sou o subtítulo do card</app-Card-Text-Subtitle>

  <!-- Define uma descrição dentro do card com a classe "ca-u-card-text-description" -->
  <h1 class="ca-u-card-text-description">Sou a descrição do card</h1>

  <!-- Componente Angular que representa a descrição do card. Ele será estilizado automaticamente pela diretiva "app-Card-Text-Description" -->
  <app-Card-Text-Description>Sou a descrição do card</app-Card-Text-Description>

</div> <!-- Fim do container "card" -->
