.card {
    background-color: white; /* Define o fundo do card como branco */
    border-radius: 5px; /* Adiciona bordas arredondadas com raio de 5 pixels */
    padding: 10px; /* Adiciona um espaçamento interno de 10 pixels dentro do card */
}