/* Define o tamanho grande para o texto */
.is-big {
    font-size: 50px;
}

/* Estilo para o texto com fundo verde */
.is-green {
    color: white;              /* Texto na cor branca */
    background-color: green;   /* Fundo verde */
}

/* Estilo para o texto com fundo laranja */
.is-orange {
    color: white;              /* Texto na cor branca */
    background-color: orange;  /* Fundo laranja */
}
