<!-- Este arquivo define o template do componente <app-card>.
Ele usa o <ng-content> para permitir a inserção de qualquer conteúdo dentro do cartão. -->

<!--  Cria uma div com a classe CSS "card", que será estilizada mais tarde. -->
<div class="card">
    <!--  Este é um placeholder (espaço reservado) que permite inserir qualquer conteúdo dentro do componente <app-card> -->
    <!-- O que for colocado dentro de <app-card>...</app-card> será renderizado aqui. -->
        <ng-content></ng-content>
</div>
