.card { // Aplica estilos à div com a classe "card".
    border-radius: 5px;  /* Faz com que os cantos do cartão fiquem levemente arredondados. */
    padding: 10px;       /*  Adiciona um espaço interno de 10 pixels dentro do cartão, para que o conteúdo não fique colado nas bordas. */
    background-color: white; /* Define a cor de fundo como branca. */
}
