<div class="card"
    [class]="{
        'card--orange': cardStyle === 'orange' ? true : false,
        'card--purple': cardStyle === 'purple' ? true : false
    }"
>
    <!-- Exibe o tipo do plano com estilo -->
    <div class="card__plan card__item">Plano <b>{{planType}}</b></div>

    <!-- Mostra o preço do plano -->
    <div class="card__price card__item">R${{planPrice}},00/Mês</div>

    <!-- Componente de botão reutilizável dentro do cartão -->
    <!-- Texto do botão -->
    <!-- Define o estilo com base no estilo do cartão -->
    <!-- Evento emitido ao clicar no botão -->
    <app-button
    [text]="'Adquirir'"                      
    [style]="cardStyle === 'orange' ? 'white' : 'purple'" 
    (clicked)="onButtonClicked()"           
    ></app-button>
</div>
