<!-- Agora vamos ver como o <app-card> pode ser usado com diferentes conteúdos. -->
<!-- Aqui estamos usando o componente <app-card>. -->
  <app-card>
  <!-- Um parágrafo que será inserido dentro do ng-content do cartão. -->
  <p>Sou um conteúdo</p>
  <!-- Um botão que também será inserido dentro do ng-content do cartão. -->
  <button>Botão</button>
</app-card>
<!-- O conteúdo será renderizado dentro do cartão, como se estivesse dentro da <div class="card">. -->

  <br>

<!-- Novo cartão sendo criado. -->
<app-card>
  <!-- Um botão será renderizado dentro do cartão. -->
  <button>Botão</button>
  <!-- Um parágrafo será renderizado dentro do cartão. -->
  <p>Sou um conteúdo</p>
  <!-- Um título <h3> será renderizado dentro do cartão. -->
  <h3>Sou um título</h3>
</app-card>
<!-- Fecha o componente. -->
<!-- Tudo que está dentro do <app-card> será exibido dentro da <div class="card">. -->