/* Estilo para o botão com classe 'red-button' */
.red-button {
    background-color: rgb(215, 58, 58); /* Fundo vermelho */
    color: white; /* Texto branco */
}

/* Estilo para o botão com classe 'green-button' */
.green-button {
    background-color: rgb(42, 222, 42); /* Fundo verde */
    color: white; /* Texto branco */
}
