<div class="ca-c-card "> <!-- Cartão que exibe informações sobre saldo disponível -->
    <div class="ca-c-card__header balance-card__header"> <!-- Cabeçalho do cartão, onde aparece o título e o saldo total -->
        <div class="balance-card__header-title"> <!-- Área que contém o ícone e o título do cartão -->
            <img class="balance-card__header-icon" src="assets/icons/icon-hand.png" alt=""> <!-- Ícone ilustrativo ao lado do título -->
            <h1>Saldos Disponíveis</h1> <!-- Título do cartão -->
        </div>
        <p>R$ 100,00</p> <!-- Valor do saldo total disponível -->
    </div>

    <div class="ca-c-card__content"> <!-- Área do conteúdo do cartão que lista os detalhes do saldo -->
        <div class="balance-card__content-item"> <!-- Item individual de saldo -->
            <p>Conta Corrente</p> <!-- Tipo de conta -->
            <p>R$ 200,00</p> <!-- Valor disponível nessa conta -->
        </div>

        <div class="balance-card__content-line"></div> <!-- Linha divisória -->

        <div class="balance-card__content-item"> <!-- Outro item de saldo -->
            <p>Conta Corrente Saldo Vinculados</p>
            <p>R$ 300,00</p>
        </div>

        <div class="balance-card__content-line"></div>

        <div class="balance-card__content-item">
            <p>Conta Poupança Saldo Vinculados</p>
            <p>R$ 400,00</p>
        </div>

        <div class="balance-card__content-line"></div>

        <div class="balance-card__content-item">
            <p>Investimentos com Baixa Automática</p>
            <p>R$ 500,00</p>
        </div>

        <div class="balance-card__content-line"></div>

        <div class="balance-card__content-item">
            <p>Investimentos sem Baixa Automática</p>
            <p>R$ 500,00</p>
        </div>

        <div class="balance-card__content-line"></div>

        <div class="balance-card__content-summary"> <!-- Seção do resumo total dos saldos -->
            <div class="balance-card__content-item">
                <p>SALDO TOTAL</p> <!-- Texto indicando que é o saldo total -->
                <p>R$ 1000,00</p> <!-- Valor total dos saldos somados -->
            </div>
            <div class="balance-card__content-item">
                <p>LIVRE PARA MOVIMENTAÇÃO</p> <!-- Saldo disponível para ser movimentado -->
                <p>R$ 1000,00</p>
            </div>
        </div>
    </div>
</div>
