.container {
    display: flex;
    /* Define um layout flexbox para organizar as divisões horizontalmente */
    
    height: 100vh;
    /* Faz com que o contêiner ocupe toda a altura visível da janela do navegador */
}

.left-container {
    width: 70%;
    /* Define a largura da parte esquerda como 70% do contêiner principal */
    
    height: 100%;
    /* Faz com que a parte esquerda tenha 100% da altura do contêiner principal */
    
    display: flex;
    /* Define o layout flexbox para organizar as divisões internas */
    
    flex-direction: column;
    /* Organiza as divisões internas (filhas) verticalmente */
}

.top-div {
    flex-grow: 1;
    /* Permite que esta divisão cresça para preencher o espaço disponível dentro do contêiner pai */
    
}

.main-left-div {
    height: 80%;
    /* Define a altura como 80% do contêiner pai */
    
    background-color: blueviolet;
    /* Define a cor de fundo como blueviolet */
}

.right-div {
    width: 30%;
    /* Define a largura da parte direita como 30% do contêiner principal */
    
    max-height: 100vh;
    /* Garante que a altura máxima da parte direita não ultrapasse a altura visível da janela */
    
}
