<div class="container"> <!-- Contêiner principal que agrupa todos os elementos visuais da página -->
    <div class="item"> <!-- Um item dentro do contêiner, representando um cartão -->
        <app-container-base></app-container-base>
    </div>
    <div class="item"> <!-- Um item dentro do contêiner, representando um cartão -->
        <app-container-base></app-container-base>
    </div>
    <div class="item"> <!-- Um item dentro do contêiner, representando um cartão -->
        <app-container-base></app-container-base>
    </div>
    <div class="item"> <!-- Um item dentro do contêiner, representando um cartão -->
        <app-container-base></app-container-base>
    </div>
</div>

