<div class="ca-c-card"> <!-- Estrutura reservada para um cartão de débito -->
    <div class="ca-c-card__header"> <!-- Cabeçalho do cartão de débito -->
        <app-card-title title="Cartão de Débito" icon="icon-debit-card.png"></app-card-title>
    </div>

    <div class="ca-c-card__content"> <!-- Área do conteúdo do cartão que lista os detalhes do cartão de débito -->
        <div class="debit-card__content-item"> <!-- Item individual de débito -->
            <p>Este cliente possui Cartão de Débito</p>
        </div>
    </div>
</div>