<app-card> <!-- Estrutura reservada para um cartão de débito -->
    <app-card-header> <!-- Cabeçalho do cartão de débito -->
        <app-card-title title="Cartão de Débito" icon="icon-debit-card.png"></app-card-title>
    </app-card-header>

    <app-card-content> <!-- Área do conteúdo do cartão que lista os detalhes do cartão de débito -->
        <div class="ca-c-card-item"> <!-- Item individual de débito -->
            <p>Este cliente possui Cartão de Débito</p>
        </div>
    </app-card-content>
</app-card>