.balance-card { /* Define o estilo do cartão de saldo */

    &__header { /* Estiliza a parte superior do cartão (cabeçalho) */
        display: flex; /* Usa flexbox para alinhar os itens do cabeçalho */
        align-items: center; /* Alinha os itens verticalmente ao centro */

        p {
            font-size: 20px; /* Define o tamanho da fonte para 20px */
        }
    }

    &__header-title { /* Define o estilo da área do título no cabeçalho */
        display: flex; /* Utiliza flexbox para alinhar os elementos */
        align-items: center; /* Alinha os itens verticalmente ao centro */
        margin-right: auto; /* Empurra os itens para a esquerda */

        h1 {
            font-size: 20px; /* Define o tamanho da fonte do título */
        }
    }

    &__header-icon { /* Define o estilo do ícone ao lado do título */
        width: 40px; /* Define a largura do ícone como 40px */
        margin-right: 10px; /* Adiciona um espaçamento entre o ícone e o texto */
    }

    &__content-line { /* Define o estilo das linhas divisórias entre os itens */
        border: 0.5px solid #9e9e9e; /* Cria uma linha cinza clara com 0.5px de espessura */
    }

    &__content-summary { /* Estiliza a seção de resumo do saldo */
        margin-top: 30px; /* Adiciona um espaçamento superior de 30px */
        border-radius: 5px; /* Arredonda os cantos do resumo */
        background-color: rgba(0,0,0,0.1); /* Define um fundo semitransparente */
        padding: 0px 12px; /* Adiciona espaçamento interno de 12px nas laterais */
    }
}