<app-card> <!-- Cartão que exibe informações sobre saldo disponível -->
    <app-card-header>
        <div class="balance-card__header"> <!-- Cabeçalho do cartão, onde aparece o título e o saldo total -->
            <app-card-title title="Saldos Disponíveis" icon="icon-hand.png"></app-card-title>
            <p>R$ 100,00</p> <!-- Valor do saldo total disponível -->
        </div>
    </app-card-header>
    <app-card-content>
    <!-- Área do conteúdo do cartão que lista os detalhes do saldo -->
        <app-card-item text="Conta Corrente" value="R$ 200,00"></app-card-item>

        <app-card-line></app-card-line>

        <app-card-item text="Conta Corrente Saldo Vinculados" value="R$ 300,00"></app-card-item>

        <app-card-line></app-card-line>

        <app-card-item text="Conta Poupança Saldo Vinculados" value="R$ 400,00"></app-card-item>

        <app-card-line></app-card-line>

        <app-card-item text="Investimentos com Baixa Automática" value="R$ 500,00"></app-card-item>

        <app-card-line></app-card-line>

        <app-card-item text="Investimentos sem Baixa Automática" value="R$ 500,00"></app-card-item>

        <app-card-line></app-card-line>

        <div class="balance-card__content-summary"> <!-- Seção do resumo total dos saldos -->
            <app-card-item text="SALDO TOTAL" value="R$ 1000,00"></app-card-item>
            
            <app-card-item text="LIVRE PARA MOVIMENTAÇÃO" value="R$ 1000,00"></app-card-item>
        </div>
    </app-card-content>
</app-card>
