/* You can add global styles to this file, and also import other style files */
/* Importa a fonte Poppins do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

body {
    background-color: grey; /* Define a cor de fundo da página */
    font-family: 'Poppins', sans-serif; /* Define a fonte usada no corpo da página */
}

p {
    margin: 0; /* Remove margens padrão dos parágrafos */
}
