<div class="ca-c-card"> <!-- Estrutura reservada para informações do cliente -->
    <div class="ca-c-card__header ca-c-card__header--bg-blue"> <!-- Cabeçalho de Informações do cliente, onde aparece o título -->
        <div class="client-infos-card__header-title">
            <!-- Área que contém o ícone e o título da informações do cliente -->
            <img class="client-infos-card__header-icon" src="assets/icons/icon-client.png" alt="">
            <!-- Ícone ilustrativo ao lado do título -->
            <h1>Informações do Cliente</h1> <!-- Título do cartão -->
        </div>
    </div>

    <div class="ca-c-card__content">
        <!-- Área do conteúdo do cartão que lista os detalhes do cartão de débito -->
        <app-card-item text="Nome" value="Mário Dantas Dos Santos"></app-card-item>

        <div class="client-infos-card__content-line"></div> <!-- Linha divisória -->

        <app-card-item text="Idade" value="26 anos"></app-card-item>

        <div class="client-infos-card__content-line"></div> <!-- Linha divisória -->

        <app-card-item text="Renda Mensal" value="R$ -1000,00"></app-card-item>

        <div class="client-infos-card__content-line"></div> <!-- Linha divisória -->

        <app-card-item text="Nascionalidade" value="Brasileiro"></app-card-item>

    </div>
</div>