.ca-c-card { // Define o tamanho máximo do cartão.
    max-width: 400px; /* Define uma largura máxima para o cartão */
    
    &__header { // Define o estilo do cabeçalho
        padding: 50px; /* Adiciona um espaço interno ao cabeçalho */
        height: 40%; /* Define que o cabeçalho ocupará 40% da altura do cartão */
        background-color: #FFAD36; /* Define um fundo laranja claro */
        display: block;
    }

    &__content { // Define o estilo do conteúdo
        padding: 50px; /* Adiciona um espaço interno ao conteúdo */
        height: 60%; /* Define que o conteúdo ocupará 60% da altura do cartão */
        background-color: #FF5916; /* Define um fundo laranja escuro */
        display: block;
    }
}
