<div class="card">
    <!-- 
    Cria uma `div` com a classe "card", que pode ser estilizada via CSS.
    -->

    <!-- <ng-content></ng-content> -->
    <!-- 
    Este código foi comentado, mas se estivesse ativo, ele serviria para inserir diretamente qualquer 
    conteúdo que estivesse entre as tags <app-card>...</app-card>.
    No entanto, neste exemplo estamos usando @ContentChild com <ng-template>, 
        por isso ele está comentado.
    -->

    <ng-container *ngTemplateOutlet="content"></ng-container>
    <!-- 
    Renderiza dinamicamente o template que foi capturado pelo @ContentChild usando a diretiva 
    ngTemplateOutlet.
    Isso permite mostrar o conteúdo que foi passado no ng-template do componente pai (app.component).
    -->
</div>