<div class="ca-c-card"> <!-- Estrutura reservada para um cartão de débito -->
    <div class="ca-c-card__header"> <!-- Cabeçalho do cartão de débito -->
        <div class="debit-card__header-title"> <!-- Área do título -->
            <img class="debit-card__header-icon" src="assets/icons/icon-debit-card.png" alt="Icone Cartão de Débito">
            <!-- Ícone de cartão de débito -->
            <h1>Cartão de Débito</h1> <!-- Título do cartão de débito -->
        </div>
    </div>

    <div class="ca-c-card__content"> <!-- Área do conteúdo do cartão que lista os detalhes do cartão de débito -->
        <div class="debit-card__content-item"> <!-- Item individual de débito -->
            <p>Este cliente possui Cartão de Débito</p>
        </div>
    </div>
</div>