<app-card> <!-- Estrutura reservada para informações do cliente -->
    <app-card-header [attr.color]="headerColor"> <!-- Cabeçalho de Informações do cliente, onde aparece o título -->
        <app-card-title title="Informações do Cliente" icon="icon-client.png"></app-card-title>
    </app-card-header>
    <!-- <div class="ca-c-card__header ca-c-card__header--bg-blue"> 
        
    </div> -->

    <app-card-content>
        <!-- Área do conteúdo do cartão que lista os detalhes do cartão de débito -->
        <app-card-item text="Nome" value="Mário Dantas Dos Santos"></app-card-item>

        <app-card-line></app-card-line>

        <app-card-item text="Idade" value="26 anos"></app-card-item>

        <app-card-line></app-card-line>

        <app-card-item text="Renda Mensal" value="R$ -1000,00"></app-card-item>

        <app-card-line></app-card-line>

        <app-card-item text="Nascionalidade" value="Brasileiro"></app-card-item>

    </app-card-content>
</app-card>